@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=PT+Serif&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=PT+Serif&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lora:ital@1&family=PT+Serif&family=Varela+Round&display=swap');
body{
    background-color:antiquewhite;

}
*{
    margin: 0;
    padding: 0; 

}
nav{
    font-family: 'Lora', serif;

}
nav ul{
    display:flex;
    align-items: center;
    list-style-type:none;
    height:89px;
    background-color: black;
    color:white;
    


}
nav ul li{
    padding: 0px 12px;
}


.brand img{
    height:40px;
    width:40px;
    padding:0px, 8px;
    padding-right: 10px;



}
.brand{
    display:flex;
    align-items:center;
    font-size:1,8rem;
    font-weight: bolder;




}
.container{ 
    min-height: 72vh;
    background-color:black;
    color:black;
    font-family: 'Varela Round', sans-serif;
    display:flex;
    margin: 23px auto;
    width:70%;
    border-radius:12px;
    padding:34px;
    background-image:url(bg.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;






}

.bottom{
    position:sticky;
    height:130px;
    background-color:black;
    color:white;

    bottom:0;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column ;
  


     



}
.icons{
    margin-top: 14px;
   
    

}
.icons i{
    cursor:pointer;

}


    
 .songitem{
   height:50px;
   display:flex;
   background-color:white;
   color:black;
   width:128%;

   margin: 12px 0;
   justify-content: space-around;
   text-align:center;
   border-radius:34px;




 }
 .songlistplay timestamp{



    
     padding:11px 0;
  

     





      

 }
 .songname{
     
     padding-top:11px;

 }

 .songitem img{
     width:70px;
     margin:0px 23px;
     border-radius: 50%;
     padding:5px 0;




     
}
.songlistplay i{

    padding: 11px 0;
    cursor:pointer;



}
.songitemcontainer{
    margin-top:34px;

}



#myProgressBar{
  

    width: 80vw;
    cursor:pointer;

    


}
.songinfo{
    
    position:absolute;
    left:10vw;
    padding-bottom:11px;
    
   
}
.songinfo img{
    opacity:0;
    transition: opacity 0.3s ease-in;




}
